<h3><%= @quote.quote %></h3>
<%= @quote.character %>, <%= @quote.source %><br>
<%= @quote.year %><br>
(Played by <%= @quote.actor %>)<br>
<img src="<%=@quote.photo %>"><br>
<h4>Rating: <%= @quote.rating%></h4>
